# View Social Media Dataset

This notebook helps you explore the sample social media dataset.

In [1]:
import pandas as pd

# Read the dataset
df = pd.read_csv("../data/social_media_data.csv")

# Display basic information
print("Dataset Info:")
print(f"Number of posts: {len(df)}")
print(f"\nDate range: from {df['date'].min()} to {df['date'].max()}")

# Display first few rows
print("\nFirst few posts:")
df.head()

Dataset Info:
Number of posts: 1000

Date range: from 2024-05-12 00:18:31.968292 to 2025-05-12 00:18:31.968292

First few posts:

,text,date
0,"The Sony laptop's software Not bad, not great üí´",2024-05-12 00:18:31.968292
1,"The Microsoft laptop's camera Not bad, not gre...",2024-05-12 00:18:31.968292
2,The HP console's price Terrible product üò´,2024-05-13 00:18:31.968292
3,The Lenovo tablet's quality Regular performance üòê,2024-05-13 00:18:31.968292
4,The Amazon TV's battery life Love this product! üíØ,2024-05-13 00:18:31.968292

In [2]:
# Display some random samples
print("Random samples from the dataset:")
df.sample(5)

Random samples from the dataset:

,text,date
781,The Samsung camera's design Waste of money üò´,2025-02-16 00:18:31.968292
602,The Lenovo smartwatch's software Doesn't work ...,2024-12-13 00:18:31.968292
586,The Dell headphones's screen Standard features üí´,2024-12-07 00:18:31.968292
203,The Samsung phone's performance Regular perfor...,2024-07-22 00:18:31.968292
57,The Amazon console's performance Would not rec...,2024-05-31 00:18:31.968292

In [3]:
# Basic statistics about text length
df["text_length"] = df["text"].str.len()

print("Text length statistics:")
df["text_length"].describe()

Text length statistics:

count    1000.000000
mean       47.555000
std         4.963226
min        32.000000
25%        44.000000
50%        47.000000
75%        51.000000
max        63.000000
Name: text_length, dtype: float64